*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(85, 85, 89);
}

/*NAVBAR*/

.navbar {
    background-color: #eef3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-title {
    margin: 5px;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}


.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: black;
    padding: 40px;
    display: block;
}

.navbar-links li:hover{
    text-decoration: underline;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(10, 0, 0);
    border-radius: 10px;
}

.navbar-links .link {
    color: #daa35b;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        margin-top: 30px;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .container {
        flex-direction: column;
       
    }

}

/*HEADING*/

h1, h2, h3, h4 {
    color: #daa35b;
    font-family: 'Oswald', sans-serif;
}


/*GOALS*/

.heading {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    font-family: 'Oswald', sans-serif;
}

.container {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.goal{
    text-align: center;
    padding: 10px;
    width: 300px;
    border: solid black;
    margin: auto;
    min-height: 350px;
    background-color: #eef3f3;
}

.goalPar {
    font-size: 25px;
}


.containerTrainers {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.trainer {
    background-color: #eef3f3;
    margin: 15px;
    flex: 1;
    max-width: 50%;
    flex-direction: row;
    display: flex;
    padding: 20px;
}

.trainerImg {
    padding: 20px;
    border: solid #daa35b 1px;
}

.trainerBio {
    padding: 15px;
}

.trainerBio h2 {
    color: #daa35b;
    margin: auto;
    font-size: 30px;
}
.trainerBio h4 {
    color: #daa35b 
}

.trainerBio p {
    font-size: 20px;
}


/*REACH OUT*/

.contact {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.contact-info {
    min-width: 50%;
    background-color: #eef3f3;
    text-align: center;
    flex: 1;
    max-width: 50%;
    flex-direction: row;
    display: flex;
}


.contact-info > * {
    flex: 1;
    margin: 15px;
}

.map{
    margin-top: 75px;
    border: solid #daa35b 2px;
    padding: 10px;
}

.contact-info iframe {
    height: 400px;
  }

  .contact-info div {
    background-color: #eef3f3;
  }

  .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
  }


  .contact-form input, .contact-form textarea {
    border: 1px solid #daa35b;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
  }
  
  .contact-form button {
    width: 100%;
    border: none;
    background: #daa35b;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
  }
  
  .contact-form button:hover {
    background: #ffba08;
  }
  
  .contact-info a {
    color: var(--primary-color);
  }

  #contact-name, #contact-message{
    font-family: 'Oswald', sans-serif;
  }

  .primary-border {
    border-bottom: 3px solid;
    border-color: #daa35b;
    padding-bottom: 20px;
    width: 50%;
  }


