*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/*NAVBAR*/

.navbar {
    background-color: #eef3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-title {
    margin: 5px;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}


.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: black;
    padding: 40px;
    display: block;
}

.navbar-links li:hover{
    text-decoration: underline;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(10, 0, 0);
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        margin-top: 30px;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .container {
        flex-direction: column;
    }

}


/*GOALS*/

.heading {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}

.container {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.goal{
    text-align: center;
    padding: 10px;
    width: 300px;
    border: solid black;
    margin: auto;
    min-height: 350px;
}

.goalPar {
    font-size: 25px;
}


.containerTrainers {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.trainer {
    background-color: #eef3f3;
    margin: 15px;
    flex: 1;
    max-width: 50%;
    flex-direction: row;
    display: flex;
    padding: 20px;
}

.trainerImg {
    padding: 20px;
    border: solid #daa35b 1px;
}

.trainerBio {
    padding: 15px;
}

.trainerBio h2 {
    color: #daa35b;
    margin: auto;
    font-size: 30px;
}
.trainerBio h4 {
    color: #daa35b 
}

.trainerBio p {
    font-size: 20px;
}
